<div class="news">
  <header class="post-header">
    <h1 class="post-title">Novidades</h1>
  </header>

  {% for post in site.posts limit:include.limit %}
  <div class="span4">
    <a href="{{ BASE_PATH }}{{ post.url }}">
      <h2>
        {{ post.title }}
      </h2>
    </a>
    {{ post.excerpt }}
    <p>
      <a class="btn" href="{{ BASE_PATH }}{{ post.url }}">
        Continuar lendo...
      </a>
    </p>
  </div>
  {% endfor %}
</div>
