---
layout: default
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">
      {{ page.title }}
    </h1>
  {%- endif -%}

  <div class="home-content">
    {{ content }}
  </div>

  <hr />
  {% include posts-list.html limit=3 %}
</div>
